Häusle in Cornwall is the title of a book written by Elisabeth Kabatek and means 'little house' in German.
We decided to call our Cornish cottage in Redruth, just a few miles from where the story takes place, Häusle to market it as a holiday destination for our German holidaymakers. Please follow our blog on twitter, instagram or RSS!

<br /><br />

Follow Häusle on <a href="http://twitter.com/Husle15">Twitter</a>, <a href="https://instagram.com/hausle101">Instagram</a>, or <a href="https://www.facebook.com/Häusle-in-Cornwall-2217291045203076">Facebook</a>.
