---
title: ' '
---
<img src="../images/uploads/hausle_in_cornwall.png" style="float:left"> Häusle means 'little house' in German and Häusle in Cornwall is also our 200 year old Cornish cottage in Redruth, just a few miles from places made famous by popular authors Rosamunde Pilcher and Elisabeth Kabatek.  We want to share our story with you, so please follow our blog on <a href="https://www.facebook.com/hausle30">facebook</a>, <a href="http://twitter.com/Husle15">twitter</a>, <a href="https://instagram.com/hausle101">instagram</a> or <a href="https://hausleincornwall.com/posts/index.xml">RSS</a>!

Find us on <a href="https://www.google.com/search?q=6QQJ+4F,Redruth">Google Maps</a>.
