---
title: Uber Uns
---
Häusle means 'little house' in German and Häusle in Cornwall is also our 200 year old Cornish cottage in Redruth, just a few miles from places made famous by popular authors Rosamunde Pilcher and Elisabeth Kabatek.  We want to share our story with you, so please follow our blog on twitter, instagram or RSS!

<br /><br />

Follow Häusle on <a href="http://twitter.com/Husle15">Twitter</a>, <a href="https://instagram.com/hausle101">Instagram</a>, or <a href="https://www.facebook.com/Häusle-in-Cornwall-2217291045203076">Facebook</a>.
